@using Webdiyer.WebControls.Mvc;
@using Model.CommonModel;
@model PagedList<Model.t_order_info>
@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/_Layout.cshtml";
}

<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">订单列表</h3>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("OrderList", "Order", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="订单号/收货人" value="@ViewBag.Keywords" maxlength="20">
            </div>
            @Html.DropDownList("ddlOrderType", ViewBag.ListOrderType as IEnumerable<SelectListItem>, new { @class="form-control"})
            @Html.DropDownList("ddlOrderStatus", ViewBag.ListOrderStatus as IEnumerable<SelectListItem>, new { @class="form-control"})
            <button class="btn btn-default">搜索</button>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>订单号</th>
                    <th>收货人</th>
                    <th>创建时间</th>
                    <th>商品总金额</th>
                    <th>应付款金额</th>
                    <th>订单类型</th>
                    <th>期望送达时间</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.order_sn</td>
                            <td>@item.consignee</td>
                            <td>@item.add_time</td>
                            <td>@item.goods_amount</td>
                            <td>@item.order_amount</td>
                            <td>@((Enums.OrderType)item.order_type)</td>
                            <td>
                                @if (item.order_type == 1)
                                { 
                                    <span>@item.expect_shipping_time</span>
                                }
                            </td>
                            <td>@HelperCommon.ContentHelper.GetOrderStatusMsg(item.order_status,item.pay_status)</td>
                            <td>
                                <a href="javascript:" onclick="showDetail(@item.order_id)">查看</a>
                                
                                @if (item.order_status == 1 && item.pay_status == 1)
                                { 
                                    <span>&nbsp;&nbsp;</span>
                                    <a href="javascript:" class="text-success" onclick="shippingEnd(@item.order_id)">配送完成</a>
                                }
                                
                                @if (item.order_status == 1 && item.pay_status == 0)
                                { 
                                    <span>&nbsp;&nbsp;</span>
                                    <a href="javascript:" class="text-danger" onclick="cancelOrder(@item.order_id)">取消</a>
                                }
                            </td>
                        </tr>
                    }
                }

            </table>

            <div class="text-center">
                <nav>
                    @Html.Pager(Model, new PagerOptions
                    {
                        PageIndexParameterName = "index",
                        ContainerTagName = "ul",
                        CssClass = "pagination",

                        CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"javascript:form.submit();\">{0}</a></li>",
                        PagerItemWrapperFormatString = "<li>{0}</li>",
                        Id = "bootstrappager"
                    })
                </nav>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">订单详情</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">订单号：</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="order_sn"></label>
                        </div>
                        <label class="col-sm-2 control-label">订单状态：</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="order_status_content"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">订单价格：</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="order_amount"></label>
                        </div>
                        <label class="col-sm-2 control-label">创建时间：</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="add_time"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收货人</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="consignee"></label>
                        </div>
                        <label class="col-sm-2 control-label">电话：</label>
                        <div class="col-sm-4">
                            <label class="control-label" id="mobile"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址：</label>
                        <div class="col-sm-10">
                            <label class="control-label" id="address"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">详细信息：</label>
                        <div class="col-sm-10">
                            <label class="control-label" id="order_info_detail"></label>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-bordered" id="tblOrderGoods">
                        <tr>
                            <th>商品名称</th>
                            <th>商品数量</th>
                            <th>商品价格</th>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
    function showDetail(id) {
        if(id){
            $("#tblOrderGoods").empty();

            $("#tblOrderGoods").append(createHeader());
            var url = "/Order/OrderDetail?id=" + id;
            $.get(url,function(data){
                $("#order_sn").html(data.order_sn),
                $("#order_status_content").html(data.order_status_content);
                $("#order_amount").html(data.order_amount);
                $("#add_time").html(data.add_time);
                $("#consignee").html(data.consignee);
                $("#mobile").html(data.mobile);
                $("#address").html(data.address);

                //var info_detail = data.order_sn + ";" + data.order_amount + "元;" + data.consignee + ";" + data.mobile;
                var info_detail = data.consignee + "；" + data.mobile + "；" + data.order_amount + "元；" + data.address;
                $("#order_info_detail").html(info_detail);

                //alert(data.order_goods.length);

                for(var i=0;i<data.order_goods.length; i++){
                    $("#tblOrderGoods").append(createRow(data.order_goods[i]));
                }
                //$("#tblOrderGoods").append(createRow(data.order_goods[0]));

                $("#modalDetail").modal("show");   

            });
            
        }
    }
    function createHeader(item){
        var $tr = $("<tr></tr>");
        $tr.append("<th>商品名称</th>");
        $tr.append("<th>商品数量</th");
        $tr.append("<th>商品价格</th");
        return $tr;
    }

    function createRow(item){
        var $tr = $("<tr></tr>");
        $tr.append("<td>" + item.goods_name + "</td>");
        $tr.append("<td>" + item.goods_number + "</td>");
        $tr.append("<td>" + item.goods_price + "</td>");
        return $tr;
    }
</script>


<script>
    function shippingEnd(id) {
        if (id) {
            if (confirm("配送完毕?")) {
                var url = "/Order/ShippingEnd";
                $.post(url, { "id": id }, function (data) {
                    $.procAjaxData(data, function (data) {
                        location.href = "/Order/OrderList";
                    }, function (data) {
                        location.href = "/Order/OrderList";
                    });
                });
            }
        }
    }
    function cancelOrder(id) {
        if (id) {
            if ("确定取消?") {
                var url = "/Order/OrderCancel";
                $.post(url, { "id": id }, function (data) {
                    $.procAjaxData(data, function (data) {
                        location.href = "/Order/OrderList";
                    });
                });
            }
        }
    }
</script>
