@model List<Model.t_coupon>
@{
    ViewBag.Title = "优惠券列表";
    Layout = "~/Views/_Layout.cshtml";
}

<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">优惠券列表</h3>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("CouponList", "Coupon", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字" value="@ViewBag.Keywords" maxlength="20">
            </div>
            <button class="btn btn-default">搜索</button>

            <a href="javascript:" class="btn btn-info pull-right" id="btnAdd" onclick="add()">增加优惠券</a>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>优惠券名称</th>
                    <th>满足条件金额</th>
                    <th>减免金额</th>
                    <th>有效天数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.coupon_name</td>
                            <td>@item.condition_amount</td>
                            <td>@item.coupon_amount</td>
                            <td>@item.valid_days</td>
                            <td>@item.create_time</td>
                            <td>
                                <a href="javascript:" onclick="edit(this,@item.coupon_id)">修改</a>
                            </td>
                        </tr>    
                    }
                }
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalCoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">优惠券详情</h4>
            </div>
            <div class="modal-body">
                <form id="frmCoupon">
                    @Html.Hidden("coupon_id")
                    <div class="form-group">
                        <label>优惠券名称</label>
                        <input type="text" class="form-control" id="coupon_name" name="coupon_name" placeholder="优惠券名称">
                    </div>
                    <div class="form-group">
                        <label>优惠券图片</label>
                        <input type="file" id="coupon_img" name="coupon_img">

                        <div id="divImg" style="display:none">
                            <img src="" id="imgCoupon" class="img-rounded" height="50" width="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>满足条件金额</label>
                        <input type="number" class="form-control" id="condition_amount" name="condition_amount" placeholder="满足条件金额">
                    </div>
                    <div class="form-group">
                        <label>减免金额</label>
                        <input type="number" class="form-control" id="coupon_amount" name="coupon_amount" placeholder="减免金额">
                    </div>
                    <div class="form-group">
                        <label>有效天数</label>
                        <input type="number" class="form-control" id="valid_days" name="valid_days" placeholder="有效天数">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save()">保存</button>
            </div>
        </div>
    </div>
</div>


<!-- JS -->
<script src="~/Scripts/Common/ViewCommon.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script>
    $(function () {
        View_File_Input_Init("coupon_img", 1000);
    })
</script>
<script>
    function add() {
        $("#coupon_id").val("");
        $("#coupon_name").val("");
        $("#condition_amount").val("10");
        $("#coupon_amount").val("1");
        $("#valid_days").val("30");
        $("#divImg").attr("style", "display:none");
        $("#modalCoupon").modal("show");
    }

    function edit(obj,id) {
        if(id){
            $.get("/Coupon/CouponModelGet", { "coupon_id": id }, function (data) {
                if (data) {
                    $("#coupon_id").val(id);
                    $("#coupon_name").val(data.coupon_name);
                    $("#condition_amount").val(data.condition_amount);
                    $("#coupon_amount").val(data.coupon_amount);
                    $("#valid_days").val(data.valid_days);
                    $("#imgCoupon").attr("src",data.coupon_img);
                    $("#divImg").attr("style", "display:block");

                    $("#modalCoupon").modal("show");
                }
            });
        }

    }

    function save(){
        var coupon_id = $("#coupon_id").val();

        var url = "/Coupon/CouponAdd";
        if (coupon_id) {
            url = "/Coupon/CouponEdit";
        }

        $("#frmCoupon").ajaxSubmit({
            type: "post",
            url: url,
            success: function (data) {
                $.procAjaxData(data, function (data) {
                    window.location.href = "/Coupon/CouponList";
                });
            }
        });

    }
</script>


