@using Model.CommonModel;
@model List<Model.t_ad>
@{
    ViewBag.Title = "广告列表";
    Layout = "~/Views/_Layout.cshtml";
}


<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">广告列表</h3>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("ADList", "AD", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字" value="@ViewBag.Keywords" maxlength="20">
            </div>
            <button class="btn btn-default">搜索</button>

            <a href="/AD/ADAdd" class="btn btn-info pull-right" id="btnAdd">增加广告</a>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>广告名称</th>
                    <th>广告类型</th>
                    <th>点击类型</th>
                    <th>操作</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.ad_name</td>
                            <td>@((Enums.ADType)item.ad_type)</td>
                            <td>@((Enums.ClickType)item.click_type)</td>
                            <td>
                                <a href="/AD/ADEdit?id=@item.ad_id">修改</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="javascript:" onclick="del(@item.ad_id)">删除</a>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
</div>


<script>
    function del(id) {
        if (id) {
            if (confirm("确定删除?")) {
                var url = "/AD/ADDel";
                $.post(url, { "id": id },function(data){
                    $.procAjaxData(data, function () {
                        location.href = "/AD/ADList";
                    });
                });
            }
        }
    }
</script>