@using Model.CommonModel;
@model Model.t_banner
@{
    ViewBag.Title = "BannerEdit";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Banner编辑</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Banner信息
            </div>
            <div class="panel-body">
                <form id="frmBanner">
                    @Html.HiddenFor(b => b.banner_id)
                    @Html.Hidden("hideClickType", Model.click_type)
                    <div class="form-group">
                        <label>Banner名字：</label>
                        @Html.TextBoxFor(b => b.banner_name, new { @class = "form-control", placeholder = "Banner名字" })
                    </div>
                    <div class="form-group">
                        <label>Banner类型：</label>
                        @Html.DropDownList("banner_type", ViewBag.ListBannerType as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Banner图：</label>
                        <input type="file" id="new_banner_img" name="new_banner_img">

                        @if (!string.IsNullOrEmpty(Model.banner_img))
                        {
                            <div>
                                <img src='@System.Configuration.ConfigurationManager.AppSettings["Domain"]@Model.banner_img' class="img-rounded" height="150" width="150">
                            </div>
                        }
                    </div>

                    @{Html.RenderAction("PartialClickType", "SOPartial", new { clickType = Model.click_type, clickValue = Model.click_value });}

                    <div class="form-group">
                        <label>排序：</label>
                        @Html.TextBoxFor(b => b.sort, new { @class = "form-control", type = "number", placeholder = "排序" })
                    </div>

                    <button type="button" id="btnSave" class="btn btn-success" onclick="saveInfo()">保存</button>
                    <a class="btn btn-default" href="/AD/BannerList">返回</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Common/ViewCommon.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script>
    $(function () {
        //主图
        View_File_Input_Init("new_banner_img", 1000);
    })

    $(function () {

        //$("#divCat").css("display", "none")
        //$("#divURL").css("display", "none");

        $("#click_type").change(function () {

            var value = $("#click_type").val();
            if (value == "0") {
                $("#divCat").css("display", "none")
                $("#divURL").css("display", "none");
            }
            else if (value == "1") {
                $("#divCat").css("display", "")
                $("#divURL").css("display", "none");
            }
            else if (value == "3") {
                $("#divCat").css("display", "none")
                $("#divURL").css("display", "");
            }

        });

    })

</script>

<script>
    function saveInfo() {
        SetClickTypeValue();
        $("#frmBanner").ajaxSubmit({
            type: "post",
            url: "/AD/BannerEdit",
            success: function (data) {
                $.procAjaxData(data, function (data) {
                    location.href = "/AD/BannerList";
                });
            }
        });
    }
</script>


<script>
    $(document).ready(function () {
        $("#divClickGoods").css("display", "none");
        $("#URL").css("display", "none");
        $("#divCat").css("display", "none");

        var type = $("#hideClickType").val();
        if (type == "1") {//分类
            $("#divCat").css("display", "");
        }
        else if (type == "2") {//产品
            $("#divClickGoods").css("display", "inline-block");
        }
        else if (type == "3") {//Url
            $("#URL").css("display", "");
        }
    });
</script>


