@model List<Model.t_category>
@{
    ViewBag.Title = "商品分类";
    Layout = "~/Views/_Layout.cshtml";
}

<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><strong>商品分类</strong></h3>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("CategoryList", "Goods", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字" value="@ViewBag.Keywords" maxlength="20">
            </div>
            <button class="btn btn-default">搜索</button>

            <a href="javascript:" class="btn btn-info pull-right" onclick="addCat()" >增加分类</a>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>分类名称</th>
                    <th>分类描述</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.cat_name</td>
                                <td>@item.cat_note</td>
                                <td>@item.add_time</td>
                                <td>
                                    <a href="javascript:" onclick="editCat(@item.cat_id)">修改</a>
                                    <a href="javascript:" onclick="del(@item.cat_id)">删除</a>
                                </td>
                            </tr>
                        }
                    }
                

            </table>
        </div>
    </div>
</div>



<!--Modal-->
<!--CatModal-->
<div class="modal fade" id="modalCat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">分类新增</h4>
            </div>
            <div class="modal-body">
                <form id="frmCat">
                    @Html.Hidden("hideCatID")
                    <div class="form-group">
                        <label>分类名称</label>
                        <input type="text" class="form-control" name="cat_name" id="cat_name" placeholder="分类名称">
                    </div>
                    @*<div class="form-control">
                        <label>分类类型</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">地址</label>
                                @Html.DropDownList("ddlType", ViewBag.TypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label>分类类型</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">分类类型</label>
                                @Html.DropDownList("ddlType", ViewBag.TypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>分类描述</label>
                        <textarea class="form-control" rows="3" name="cat_note" id="cat_note" placeholder="分类描述"></textarea>
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input type="number" class="form-control" name="sort" id="sort" placeholder="排序" value="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save()">保存</button>
            </div>
        </div>
    </div>
</div>



<script>
    function addCat() {
        $("#hideCatID").val("");
        $("#cat_name").val("");
        $("#cat_note").val("");
        $("#sort").val("0");

        $("#modalCat").modal("show");
    }

    function editCat(id){
        var urlModel = "/Goods/CategoryGet";
        $.get(urlModel,{"id":id},function(data){
            $("#hideCatID").val(data.cat_id);
            $("#cat_name").val(data.cat_name);
            $("#cat_note").val(data.cat_note);
            $("#sort").val(data.sort);

            $("#ddlType").val(data.cat_type);

            $("#modalCat").modal("show");
        })
    }

    function save() {
        var urlProcess = "/Goods/CategoryProcess";
        $.post(urlProcess, $("#frmCat").serialize(), function (data) {
            $.procAjaxData(data, function () {
                location.href = "/Goods/CategoryList";
            });
        });
    }

</script>



<script>
    function del(id) {
        if (confirm("确定删除？")) {
            var url = "/Goods/CategoryDelete";
            $.post(url, { "id": id }, function (data) {
                $.procAjaxData(data, function () {
                    location.href = "/Goods/CategoryList";
                })
            })
        }
    }
</script>

