@model Model.t_goods
@{
    ViewBag.Title = "商品新增";
    Layout = "~/Views/_Layout.cshtml";
    <link href="~/content/wangEditor-2.1.12/css/wangEditor.css" rel="stylesheet" />
    <script src="~/content/wangEditor-2.1.12/js/wangEditor.js"></script>
}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">商品新增</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                商品主信息
            </div>
            <div class="panel-body">
                <form id="frmGoodsInfo">
                    @Html.Hidden("goods_id",@Model.goods_id)
                    <div class="form-group">
                        <label>商品名称：</label>
                        <input type="text" class="form-control" id="goods_name" name="goods_name" value="@Model.goods_name" placeholder="商品名称">
                    </div>
                    <div class="form-group">
                        <label>商品分类：</label>
                        @Html.DropDownList("cat_id", ViewBag.ListCat as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>商品价格：</label>
                        <div class="form-group input-group">
                            <input type="number" class="form-control" id="shop_price" name="shop_price" value="@Model.shop_price" placeholder="商品价格">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>商品库存：</label>
                        <input type="number" class="form-control" id="goods_number" name="goods_number" value="@Model.goods_number" placeholder="商品库存">
                    </div>
                    <div class="form-group">
                        <label>商品单位：</label>
                        <input type="text" class="form-control" id="goods_unit" name="goods_unit" value="@Model.goods_unit" placeholder="商品单位">
                    </div>
                    <div class="form-group">
                        <label>商品图片：</label>
                        <input type="file" id="goods_img" name="goods_img">
                        @if (!string.IsNullOrEmpty(Model.goods_name))
                        {
                            <div>
                                <img src='@System.Configuration.ConfigurationManager.AppSettings["Domain"]@Model.goods_img' class="img-rounded" height="50" width="50">
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>是否为预购：</label>
                        <label class="radio-inline">
                            @Html.RadioButton("is_pre_sale","1",Model.is_pre_sale == true) 是
                        </label>
                        <label class="radio-inline">
                            @if (!string.IsNullOrEmpty(Model.goods_name))
                            {
                                @Html.RadioButton("is_pre_sale", "0", Model.is_pre_sale == false) <span>否</span>
                            }
                            else
                            {
                                <input type="radio" name="is_pre_sale" value="0" checked> <span>否</span>
                            }
                            
                        </label>
                    </div>
                    <div class="form-group">
                        <label>商品属性：</label>
                        <label class="checkbox-inline">
                            @if (string.IsNullOrEmpty(Model.goods_name))
                            { 
                                <input type="checkbox" id="is_on_sale" name="is_on_sale" checked><span>上架</span>    
                            }
                            else
                            {
                                @Html.CheckBox("is_on_sale", Model.is_on_sale == true ? true : false)<span>上架</span>
                            }
                        </label>
                        <label class="checkbox-inline">
                            @if (string.IsNullOrEmpty(Model.goods_name))
                            {
                                <input type="checkbox" id="is_hot" name="is_hot"><span>热销</span>
                            }
                            else
                            { 
                                @Html.CheckBox("is_hot", Model.is_hot == true ? true : false)<span>热销</span>
                            }
                        </label>
                        <label class="checkbox-inline">
                            
                            @if (string.IsNullOrEmpty(Model.goods_name))
                            {
                                <input type="checkbox" id="is_best" name="is_best"><span>明星</span>
                            }
                            else
                            {
                                @Html.CheckBox("is_best", Model.is_best == true ? true : false)<span>明星</span>
                            }
                        </label>
                        <label class="checkbox-inline">

                            @if (string.IsNullOrEmpty(Model.goods_name))
                            {
                                <input type="checkbox" id="is_new" name="is_new"><span>新品</span>
                            }
                            else
                            {
                                @Html.CheckBox("is_new", Model.is_new == true ? true : false)<span>新品</span>
                            }
                        </label>
                        <label class="checkbox-inline">

                            @if (string.IsNullOrEmpty(Model.goods_name))
                            {
                                <input type="checkbox" id="is_activity" name="is_activity"><span>促销</span>
                            }
                            else
                            {
                                @Html.CheckBox("is_activity", Model.is_activity == true ? true : false)<span>促销</span>
                            }
                        </label>
                    </div>
                    <div class="form-group">
                        <label>商品简介：</label>
                        <input type="text" class="form-control" id="goods_brief" name="goods_brief" value="@Model.goods_brief" placeholder="商品简介">
                    </div>

                    <button type="button" class="btn btn-success" onclick="saveInfo()">保存</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                商品相册
            </div>
            <div class="panel-body">
                <input type="file" name="gallery" id="gallery" multiple class="file-loading" />
                <hr />
                <div class="col-sm-12" id="divGallery">
                    @if(ViewBag.ListGallery != null)
                    { 
                        foreach (var item in ViewBag.ListGallery)
                        { 
                            <div class="alert alert-dismissible col-sm-4">
                                <button type="button" class="close" onclick="delGallery(this,'@item.img')"><span>&times;</span></button>
                                <img src='@System.Configuration.ConfigurationManager.AppSettings["Domain"]@item.img' class="img-thumbnail">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                商品详情
            </div>
            <div class="panel-body">
                <form>
                    <div id="divGoodsDetail" style="height:500px;">
                        @Html.Raw(Model.goods_desc)
                    </div>
                    <button type="button" style="margin-top:15px" class="btn btn-success" onclick="saveDetail()">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Common/ViewCommon.js"></script>
<script>
    $(function () {
        //主图
        View_File_Input_Init("goods_img", 600);
        //相册
        View_Files_Input_Init("gallery", "/Goods/GoodsGalleryUpload",600,10);
    })

    $("#gallery").on("filebatchuploadsuccess", function (event, data, previewId, index) {
        var goods_id = $("#goods_id").val();
        response = data.response;
        if (response.Status = "ok" && goods_id) {
            if (response.Data) {
                $.post("/Goods/GoodsGalleryToData", { "goods_id": goods_id, "gallerys": response.Data }, function (reData) {
                    $.procAjaxData(reData, function (sucData) {
                        //aler(sucData.Data);
                        var arr = sucData.Data.split(',');
                        for(var i=0;i<arr.length;i++){
                            GalleryCreateHtml(arr[i]);
                        }
                        $("#gallery").fileinput("reset");
                    }, function () {
                        $("#gallery").fileinput("reset");
                    })
                });
            }
        }
        else {
            $("#gallery").fileinput("reset");
            alert("无效商品或上传失败");
        }
    });

    function delGallery(obj,src) {
        $(obj).parent().remove();
        var url = "/Goods/GoodsGalleryDel";
        $.post(url, { "img": src }, function (data) {
            $.procAjaxData(data);
        });
    }


    function GalleryCreateHtml(src) {
        var imgDiv = $('<div class="alert alert-dismissible col-sm-4"></div>');
        var imgClose = $("<button type='button' class='close' onclick='delGallery(this," + "\"" + src + "\"" + ")'><span>&times;</span></button>");
        var imgImg = $("<img src='http://7xj3q7.com1.z0.glb.clouddn.com/" + src + "' class='img-thumbnail'>");
        imgDiv.append(imgClose);
        imgDiv.append(imgImg);
        $("#divGallery").append(imgDiv);
    }

</script>

<script src="~/Scripts/jquery.form.js"></script>
<script>
    function saveInfo() {
        $("#frmGoodsInfo").ajaxSubmit({
            type: "post",
            url: "/Goods/GoodsAdd",
            success: function (data) {
                $.procAjaxData(data, function (data) {
                    //$("#goods_id").val(data.Data);
                    location.href = "/Goods/GoodsAdd?goods_id="+data.Data;
                });
            }
        });
    }
</script>


<script type="text/javascript">
    var editor = new wangEditor('divGoodsDetail');

    // 上传图片（举例）
    editor.config.uploadImgUrl = '/Common/UploadImages';

    // 设置 headers（举例）
    editor.config.uploadHeaders = {
        'Accept': 'text/x-json'
    };

    editor.create();

    function saveDetail() {
        var goods_detail = editor.$txt.html();
        var goods_id = $("#goods_id").val();
        if (goods_id) {
            var url = "/Goods/GoodsDetail";
            $.post(url, { "goods_id": goods_id, "goods_detail": goods_detail }, function (data) {
                $.procAjaxData(data)
            })
        }
        else {
            alert("不存在此商品");
        }
        
    }
</script>




