@using Webdiyer.WebControls.Mvc;
@model PagedList<Model.t_user>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/_Layout.cshtml";
}

<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">会员列表</h3>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("UserList", "User", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字" value="@ViewBag.Keywords" maxlength="20">
            </div>
            <button class="btn btn-default">搜索</button>
            <a href="javascript:" class="btn btn-info pull-right" onclick="applyCouponAll()">批量添加优惠券</a>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>会员名称</th>
                    <th>手机号码</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
                @{
                    int i = 0;
                    foreach(var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.user_name</td>
                            <td>@item.user_phone</td>
                            <td>@item.create_time</td>
                            <td>
                                <a href="javascript:" onclick="viewUser(@item.ID)">查看</a>
                                &nbsp;&nbsp;
                                <a href="javascript:" class="text-success" onclick="applyCoupon(@item.ID,@item.user_phone)">分配优惠卷</a>
                                &nbsp;&nbsp;
                                <a href="javascript:" class="text-info" onclick="viewCoupon(@item.ID,@item.user_phone,'@item.user_name')">查看优惠卷</a>
                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="text-center">
                <nav>
                    @Html.Pager(Model, new PagerOptions
                    {
                        PageIndexParameterName = "index",
                        ContainerTagName = "ul",
                        CssClass = "pagination",

                        CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"javascript:form.submit();\">{0}</a></li>",
                        PagerItemWrapperFormatString = "<li>{0}</li>",
                        Id = "bootstrappager"
                    })
                </nav>
            </div>

        </div>
    </div>
</div>

<!--Modal-->
<!-- ViewUser -->
<div class="modal fade" id="modalUserInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">会员信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static" id="pUserName">小菜</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机号码：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static" id="pUserPhone">18601352457</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">注册时间：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static" id="pCreateTime">2016-06-15</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">最后登录时间：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static" id="pLastLoginTime">2016-06-15</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Aplly Coupon-->
<div class="modal fade" id="modalApplyCoupon">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">分配优惠卷</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmApplyCoupon">
                    <div class="form-group">
                        @Html.Hidden("hideUserID")
                        <label class="col-sm-3 control-label">会员手机号：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static" id="user_phone"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">优惠卷：</label>
                        <div class="col-sm-9">
                            @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                            @Html.DropDownList("ddlCouponID", ViewBag.CouponSelList as IEnumerable<SelectListItem>, new { @class="form-control"})
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="applyCouponSave()">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- Apply Coupon All -->
<div class="modal fade" id="modalApplyCouponAll">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量分配优惠卷（所有用户）</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmApplyCouponAll">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">优惠卷：</label>
                        <div class="col-sm-9">
                            @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                            @Html.DropDownList("ddlCouponAllID", ViewBag.CouponSelList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="applyCouponSaveAll()">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- View -->
<div class="modal fade" id="modalView" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户优惠券信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="lbUserName"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" id="lbUserPhone"></p>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered" id="tblCoupon">
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>
    function viewUser(id){
        if(id){
            var url = "/User/GetUserBy?id=" + id;
            $.get(url,function(data){
                if(data){
                    $("#pUserName").text(data.user_name);
                    $("#pUserPhone").text(data.user_phone);
                    $("#pCreateTime").text(data.create_time);
                    $("#pLastLoginTime").text(data.last_login_time);
                    $("#modalUserInfo").modal("show");
                }
            });
        }
    }

    function viewCoupon(id,user_phone,user_name){
        $("#lbUserName").html(user_name);
        $("#lbUserPhone").html(user_phone);
        $("#tblCoupon").html("");

        $("#tblCoupon").append("<tr><th>优惠卷名称</th><th>开始时间</th><th>失效时间</th></tr>");

        $.get("/User/GetUserCouponBy",{"id":id},function(data){
            for(var i=0;i<data.length;i++){
                var row = "<tr>" + "<td>" + data[i].coupon_name + "</td>" + "<td>" + data[i].begin_time + "</td>" + "<td>" + data[i].end_time + "</td>" + "</tr>";
                $("#tblCoupon").append(row);
            }
        });

        $("#modalView").modal("show");
    }
</script>


<script>
    function applyCoupon(user_id,user_phone) {
        if (user_id) {
            $("#hideUserID").val(user_id);
            $("#user_phone").html(user_phone);
            $("#modalApplyCoupon").modal("show");
        }
    }

    function applyCouponSave() {
        $.post("/User/ApplyCoupon", $("#frmApplyCoupon").serialize(), function (data) {
            $.procAjaxData(data, function () {
                location.href = window.location.href;
            });
        });
    }


    function applyCouponAll() {
        $("#modalApplyCouponAll").modal("show");
    }

    function applyCouponSaveAll() {
        $.post("/User/ApplyCouponAll", $("#frmApplyCouponAll").serialize(), function (data) {
            $.procAjaxData(data, function () {
                location.href = window.location.href;
            });
        });
    }

</script>





